[run]
branch = True
plugins = Cython.Coverage
omit = 
    */test*
    *__init__.py
    # the following were not modified by us
    persistable/borrowed/dist_metrics.pyx
    persistable/borrowed/dist_metrics.pxd
