html {
    background-color: white;
    font-family: 'Courier New', monospace;
    color: black;
    font-size: 80%;
}

h1 {
    text-align: left;
}

h2 {
    text-align: center;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    row-gap: 10px;
    column-gap: 40px;
}

.parameters {
    display: flex;
    flex-direction: column;
    gap: 3px;
    /*justify-content: flex-end;*/
}

.parameter-single {
    display: flex;
    flex-direction: row;
}

.parameter-single>.name {
    width: 30%;
}

.parameter-single>.value {
    width: 70%;
}

.parameter-double {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.parameter-double>.name {
    width: 30%;
}

.parameter-double>.value {
    width: 35%;
}

.fake-plot {
    /*width: 100%;*/
    height: 450px;
    background-color: lightgrey;
}

/* turn off little arrow "dials" for inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}*/

input { 
    text-align: right; 
}

#log {
    max-height: 150px;
}

/*
#cff-plot {
    height: 450px;
}*/

input:valid, input:invalid {
    outline: none black;
}

[hidden] {
    display: none !important;
}
